<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Form Input Bindings</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<!-- Bạn có thể sử dụng directive v-model để tạo ràng buộc dữ liệu 2 chiều lên các phần tử form input và textarea. 
    Vue sẽ tự động chọn cách phù hợp để cập nhật phần tử này dựa trên kiểu của input -->
    <!-- Văn bản -->
    <div id="example-1" class="demo">
        <input v-model="message" placeholder="Nhập thông điệp">
        <p>Thông điệp: {{ message }}</p>
    </div>

    <!-- Văn bản nhiều dòng -->
    <div id="example-2" class="demo">
        <span><p style="white-space: pre-line;">Multiline message is: {{ message }}</p></span>
        
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>

    <!-- Check box -->
    <div id="example-3" class="demo">
        <input type="checkbox" id="checkbox" v-model="checked">
        <label label for="checkbox">{{ checked }}</label>
    </div>

    <!-- Nhiều checkbox, ràng buộc vào cùng một mảng -->

    <div id="example-4" class="demo">
        <input type="checkbox" id="com-chien-toi" value="Cơm chiên tỏi" v-model="checkedNames">
        <label for="com-chien-toi">Cơm chiên tỏi</label><br>
        <input type="checkbox" id="dot-bi-xao-toi" value="Đọt bí xào tỏi" v-model="checkedNames">
        <label for="dot-bi-xao-toi">Đọt bí xào tỏi</label><br>
        <input type="checkbox" id="canh-rau-rung" value="Canh rau rừng" v-model="checkedNames">
        <label for="canh-rau-rung">Canh rau rừng</label>
        <br>
        <span>Món đã chọn: {{ checkedNames }}</span>
    </div>

    <!-- Radio -->
    <div id="example-5" class="demo">
        <input type="radio" id="cac-mon-rau" value="Các món rau" v-model="picked">
        <label for="cac-mon-rau">Các món rau</label><br>
        <input type="radio" id="cac-mon-thit" value="Các món thịt" v-model="picked">
        <label for="cac-mon-thit">Các món thịt</label><br>
        <span>Đã chọn: {{ picked }}</span>
    </div>
</body>
<script src="./js/FormInputBindings.js"></script>
</html>