<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS-01</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ foo }}</p>
        <!-- foo sẽ không được cập nhật! -->
        <button @click="foo = 'baz'">Cập nhật đi chứ</button>
    </div>
</body>
    <script src="./js/instance.js"></script>
</html>

