<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <!-- Component là các đối tượng Vue có thể sử dụng lại được với một cái tên -->
    <div id="components-demo">
        <button-counter></button-counter>
    </div>
    <hr>
    <!-- Tái sử dụng component -->
    <div id="components-demo2">
        <button-counter></button-counter>
        <button-counter></button-counter>
        <button-counter></button-counter>
    </div>
    <hr>
    <!-- Truyền dữ liệu xuống component con bằng prop -->
    <div id="blog-post-demo" class="demo">
        <blog-post title="Giới thiệu về Vue"></blog-post>
        <blog-post title="Các khái niệm trong Vue"></blog-post> 
        <blog-post title="Vue căn bản và vô cùng nâng cao"></blog-post>
    </div>
    <hr>
    <!-- Gửi thông tin đến đối tượng cha bằng sự kiện -->
    <div id="blog-posts-events-demo" class="demo">
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post
              v-for="post in posts"
              v-bind:key="post.id"
              v-bind:post="post"
              v-on:enlarge-text="postFontSize += $event"
            ></blog-post>
        </div>      
    </div>
    <hr>

    <!-- Phân phối nội dung với slot -->
    <div id="slots-demo" class="demo">
        <alert-box>
            Đã xảy ra cái gì gì đó.
        </alert-box>
    </div>


</body>
<style>
    .demo-alert-box {
      padding: 10px 20px;
      background: #f3beb8;
      border: 1px solid #f09898;
    }
</style>
<script src="./js/Component.js"></script>
</html>