<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fillter</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h3>Ta có thể gọi nhiều filter, filter sau nhận giá trị của filter trước làm tham số</h3>
        <h3>UPPERCASE : {{ message | toUpperCase }}</h3>
        <h3>lowercase : {{ message | toLowerCase }}</h3>
        <h3>Capitalize : {{ message | capitalize }}</h3>
        <input v-model="message" type="text">
    </div>
</body>
<script src="./js/Filter.js"></script>
</html>